<section class='recoveryPassword'>
  <h1>Restablecer contrase침a</h1>
  <br />
  <p>Ingresa tu correo electr칩nico y te enviaremos un c칩digo para restablecerla.</p>
  <br />
  <form action='/api/sessions/recoveryPassword' method='POST'>
    <div class='form-input'>
      <label for='email'>Correo electr칩nico: </label>
      <input type='email' id='email' name='email' required />
    </div>
    <button type='submit'>Enviar enlace</button>
  </form>
</section>