<section class='resetPassword'>
  <h1>Resetear tu Contraseña</h1>
  <form>
    <div class='form-input'>
      <label for='newPassword'>Nueva Contraseña: </label>
      <input
        type='password'
        id='newPassword'
        name='newPassword'
        required
        min='6'
      />
    </div>
    <button type='submit'>Resetear</button>
  </form>
</section>

<script>
  const form = document.querySelector('form'); const newPasswordInput =
  document.getElementById('newPassword'); form.addEventListener('submit', (e) =>
  { e.preventDefault(); const urlParams = new
  URLSearchParams(window.location.search); const token = urlParams.get('token');
  const data = { newPassword: newPasswordInput.value };
  fetch(`/api/sessions/resetPassword?token=${token}`, { method: 'POST', headers:
  { 'Content-Type': 'application/json', }, body: JSON.stringify(data),
  }).then((res) => res.json()) .then((data) => { console.log(data); if
  (data?.status === 'success') { alert(`Contraseña reseteada correctamente`); }
  else { alert(data?.message); } }).catch((error) => { console.error(`Error en
  la solicitud:`, error); }); });
</script>