<section class='resetPassword'>
  <h1>Resetear tu Contraseña</h1>
  <form action='/api/v1/sessions/resetPassword?token={{token}}' method='POST'>
    <div class='form-input'>
      <label for='newPassword'>Nueva Contraseña: </label>
      <input
        type='password'
        id='newPassword'
        name='newPassword'
        required
        min='6'
      />
    </div>
    <button type='submit'>Resetear</button>
  </form>
</section>