<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{title}}</title>
    <style>
      @import
      url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); * {
      margin: 0; padding: 0; box-sizing: border-box; font-family: 'Poppins',
      sans-serif; } body { background-color: #242424; color: #ececec;
      color-scheme: ligth dark; } picture { display: flex; aspect-ratio: 15/10;
      background-color: #5c5c5c; background-position: center; background-repeat:
      no-repeat; background-size: cover; overflow: hidden; } picture img {
      display: block; max-width: 100%; aspect-ratio: 15/10; object-fit: cover; }
      li { list-style: none; } button { padding: 0.4rem 0.8rem; font-size:
      inherit; border: none; border-radius: 0.3rem; cursor: pointer; transition:
      transform 0.3s ease-in-out; } button:active { transform: scale(0.98); }
      input { padding: 0.4rem 0.8rem; background-color: #303030; border: 0.1rem
      solid #5c5c5c; border-radius: 0.3rem; font-size: inherit; } a { color:
      #70e7f0; }
    </style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>